.tabla-detalle-producto {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.tabla-detalle-producto tr {
  border-bottom: solid 1px var(--color-gray-300);
}

.tabla-detalle-producto tr,
.tabla-detalle-producto td {
  padding: 10px 20px;
  text-align: left;

}