@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";


:root {
  --color-primary: #F5EFE6;
  --color-secondary: #C5BAA5;
  --color-accent: #E07A5F;
  --color-surface: #3D405B;
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-gris-claro: #CCCCCC;
  --color-gris-oscuro: #333333;
}

body {
  font-family: 'Urbanist', sans-serif;
}

h1 {
  font-size: 64px;
  font-weight: 200;
  letter-spacing: -2px;
}

h2 {
  font-size: 36px;
  text-transform: lowercase;
  font-weight: 900;
  letter-spacing: -2px;
}

h3 {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700;
}

#nosotros {
  background-color: var(--color-surface);
  color: var(--color-white);
}

#historia {
  background-color: var(--color-secondary);
  color: var(--color-black);
}

#main-footer {
  background-color: var(--color-gris-oscuro);
  color: var(--color-gris-claro);
  padding: 45px 0;
}

a.boton-link {
  background-color: var(--color-accent);
  color: var(--color-white);
  padding: 8px 16px;
  border-radius: 8px;
  border: solid var(--color-accent) 1px;
  display: inline-block;
}

a.boton-link:hover {
  background-color: transparent;
  color: var(--color-accent);
  transition: all 0.3s ease;
}

.tabla-reporte {
  border-collapse: collapse;
  width: 100%;
}

.tabla-reporte th, .tabla-reporte td {
  border: 1px solid var(--color-gris-oscuro);
  padding: 8px 12px;
  text-align: left;
}

.tabla-reporte thead th {
  background-color: var(--color-surface);
  color: var(--color-white);
  text-align: left;
}

.tabla-reporte thead td {
  border: solid 1px var(--color-gris-claro);
}

.tabla-reporte tbody tr:nth-child(even) {
  background-color: var(--color-primary);
}

.tabla-reporte tbody tr:hover {
  background-color: var(--color-secondary);
  color: var(--color-black);
  transition: all 0.3s ease;
}